<nav id="navbar" class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/"><img src="img/webgente-fundo-escuro-120x40.png" alt=""></a>

  <% if(buttons == true){ %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalLong"><span class="far fa-question-circle"></span></button>
    &nbsp;
    <button class="btn btn-secondary btn-sm" type="button" id="enviar" onclick="login()"><span class="fas fa-user-lock"></span></button>
  <% } %>
  </div>
</nav>