<%- include('partials/admin/header.ejs') %>

<div>
  <img src="/img/decor-dois.png" width="50%" class="d-md-none" id="align2">
</div>

<div>
    <img src="/img/decor-sete.png" width="80%" id="imgsize">
</div>

<br>
<br>

<div class="container">
  <div id="txtsize">
      <div class="row">
        <div class="col" >
          <h3 id="titles1 align1">Painel de Administração</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim turpis, lacinia ac lorem eu, posuere dignissim mauris. Nunc in diam nec purus sollicitudin condimentum. Sed imperdiet erat sit amet nibh porttitor, ut dignissim sem ornare. Quisque mollis faucibus risus vel semper. Cras blandit, enim in tincidunt lacinia, nibh lorem porta mauris, nec sodales turpis nulla in leo. Aliquam erat volutpat. Nunc pretium, lacus ut placerat blandit, magna risus commodo dolor, vitae elementum eros ex non lectus. Curabitur porta ante quis tellus dignissim, non vehicula augue pellentesque.
          </p>
        </div>
        <div class="col">
          <img src="/img/decor-tres.png" width="70%" id="imgsize">
        </div>
      </div>
  </div>
</div>


<%- include('partials/admin/footer.ejs') %> 