<%- include('partials/admin/header.ejs') %>

<!--
<div class="container">
  <img src="/img/decor-dois.png" class="d-md-none" id="align2">
</div>

<div class="container">
    <img src="/img/decor-sete.png" width="50%" id="imgsize">
</div>

<br>
<br>
-->

<!-- <div class="container">
  <div id="txtsize">
    <blockquote class="blockquote text-center">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Alguém famoso na <cite title="Título da fonte">Título da fonte</cite></footer>
    </blockquote>
  </div>
</div> -->


<%- include('partials/admin/footer.ejs') %> 