<%- include('partials/admin/header.ejs') %> 

<div id="camadas">
  <div class="row">
    <div class="col-12">
        <table 
          class="table table-striped" 

          data-toggle="table" 
          data-url="/listlayers" 
          data-search="true"
          data-pagination="true"> 
          <thead class="thead-dark">
            <tr>
              <th data-checkbox="true"></th>
              <th data-field="id">ID</th>
              <th data-field="layerName">Nome da camada</th>
              <th data-field="layer">Nome da chamada</th>
              <th data-field="type">Tipo</th>
              <th data-field="group">Grupo</th>
              <th data-formatter='TableActions'>Opções</th>
          </thead>
        </table>
    </div>
  </div>
  
<!--Icones-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!--Bootstrap-table-->
<script src="/js/bootstrap-table/bootstrap-table.js" ></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-table/bootstrap-table.css">

<script>
  $( document ).ready(function() {
    $('.fixed-table-toolbar').prepend('<button class="btn btn-dark layer-toolbar" id="remove-layers"  style="margin-right:5px;" onClick="removeMultipleLayers()">Remover Camadas</button> <a class="btn btn-dark layer-toolbar" id="addNewLayer"  style="margin-left:5px;" href="/layers/add"">Nova Camada</a>')
  });

  /* Aplicação de raio e margem nos botões de ação*/
  function TableActions(value, row, index) {
    return ['<button class="btn btn-dark btn-custom" id="removeLayer" onclick="removeLayer()"> <i class="fas fa-trash"></i></button>', ' ', '<button class="btn btn-dark btn-custom2" id="editLayer" onclick="editLayer()"> <i class="fas fa-edit"></i></button>'].join('');
  }

  window.operateEvents = {
    'click .like': function (e, value, row, index) {
      alert('You click like action, row: ' + JSON.stringify(row))
    },
    'click .remove': function (e, value, row, index) {
      $table.bootstrapTable('remove', {
        field: 'id',
        values: [row.id]
      })
    }
  }

  function removeMultipleLayers() {
    alert('em breve: deletar layer')
    //todo: desenvolver função para deletar layers marcadas
  }
  function removeLayer() {
    alert('em breve: remover esta layer')
    //todo: desenvolver função para remover layer unica da tabela
  }
  function editLayer() {
    alert('em breve: editar esta layer')
    //todo: desenvolver função para editar layer
  }
</script>
</div>
  
  <%- include('partials/admin/footer.ejs') %> 