<div id="search_bar" class="form-group row">
  <p>Selecione uma camada para realizar a pesquisa:</p>
  <select id="search_list" class="form-control  form-control-sm" onchange="searchableFields();closeTable()"
    style="outline: none;">
    <option value="-1"> Nada selecionado</option>
  </select>
  <div id="search_fields" class="collapse ">
    <div class="input-group">
      <div id="sub_search_fields"></div>
    </div>
    <input class='btn btn-dark btn-sm' type="submit" id="okSearch" value="Ok" onclick="table_factory()">

  </div>

  <div class=" d-flex align-items-center">
    <div id="load"></div>
  </div>


</div>
</div>
<div id="buttons_table" class="collapse ">
  <button class="btn btn-dark btn-custom  btn-sm" onclick="closeTable()"><i class="fas fa-arrow-left"></i></button>
  <button class="btn btn-dark btn-custom  btn-sm" onclick="zoomFeature(-1)"><i class="fas fa-search"></i></button>

  <button class="btn btn-dark dropdown-toggle btn-sm collapse" type="button" id="download_all" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"><i class="fas fa-download" id="download_img"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button" onclick="downloadFeature('application/json')">GeoJson</button>
    <button class="dropdown-item" type="button" onclick="downloadFeature('kml')">KML</button>
    <button class="dropdown-item" type="button" onclick="downloadFeature('csv')">CSV</button>
  </div>

</div>

<table id="table">

</table>

<!--Icones-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!--Bootstrap-table-->
<script src="/js/bootstrap-table/bootstrap-table.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-table/bootstrap-table.css">


<script src="/js/search.js"></script>