<%- include('partials/admin/header.ejs') %> 

<div id="users">
  <div id="modalHere"></div>
    <div class="row">
      <div class="col-12">
          <table 
          class="table table-striped"        
          id="tableUsers" 
	        data-toggle="table" 
	        data-url="/listusers" 
	        data-search="true" 
	        data-pagination="true"> 
            <thead class="thead-dark">
              <tr>
                <th data-checkbox="true"></th>
                <th data-field="id">ID</th>
                <th data-field="userName">Nome do usuário</th>
                <th data-field="email">Email</th>
                <th data-field="group">Grupo</th>
                <th data-formatter='TableActions'>Opções</th>
            </thead>
          </table>
      </div>
    </div>
  <!--Icones-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  <!--Bootstrap-table-->
  <script src="/js/bootstrap-table/bootstrap-table.js" ></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-table/bootstrap-table.css">
  
  <script>
  
    var usersId = [];

    $( document ).ready(function() {
      $('.fixed-table-toolbar').prepend('<button class="btn btn-dark layer-toolbar" id="removeUsers" style="margin-right:5px;" data-toggle="modal" data-target="#modalAllUsers" onclick="modalAllUsers(null, null)">Remover Usuários</button><a class="btn btn-dark layer-toolbar" id="addNewUser" style="margin-right:5px;" href="/user/add">Novo Usuário</a>')
    });
  
    function TableActions(value, row, index, field) {
      return [`<button class="btn btn-dark btn-custom" id="removeUser" data-toggle="modal" data-target="#modalUser" onclick='modalAllUsers("`+row.userName+`",`+row.id+`)'> <i class="fas fa-trash"></i></button>`, ' ', '<button class="btn btn-dark btn-custom2" onclick="editUser('+row.id+')"> <i class="fas fa-edit"></i></button>'].join('');
    }
    function editUser(index) {
      window.location.href = '/users/edit/'+index
    }

    function modalAllUsers(userName, id){
    	//Se userName = null e id = null, o modal irá aparecer para somente um usuário
    	if(userName != null && id != null){
    		$('#modalHere').html(`
        		<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         			<div class="modal-dialog" role="document">
            			<div class="modal-content">
              				<div class="modal-body">
                				<p>Você está excluindo o usuário `+userName+`</p>
                				<p>Confirmar ação ?</p>
              				</div>
              				<div class="modal-footer">
                				<button type="button" class="btn btn-primary" onclick="removeUser(`+id+`)">Sim</button>
                				<button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
              				</div>
            			</div>
          			</div>
        		</div>
      		`);
    	}

    	//Senão, n usuários selecionados irão aparecer no modal para exclusão
    	else if(userName == null && id == null){
	      	var usersName = [];
	      	usersId = [];
	      	var $table = $('#tableUsers');

	      	$.map($table.bootstrapTable('getSelections'), (row) => {
	          	usersName.push(row.userName);
	          	usersId.push(row.id);
	      	})

	      	$('#modalHere').html(`
	        	<div class="modal fade" id="modalAllUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	          		<div class="modal-dialog" role="document">
	            		<div class="modal-content">
	              			<div class="modal-body">
	                			<p>Você está excluindo os usuários: `+ usersName.join(', ') +`</p>
	                			<p>Confirmar ação ?</p>
	              			</div>
	              			<div class="modal-footer">
	                			<button type="button" class="btn btn-primary" onclick="removeUser(null)">Sim</button>
	                			<button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	      	`);
	    }
    }

    function removeUser(id){
    	//Se id = null, indica que será excluído multiplos usuários
    	if(id == null){
    		let index = JSON.stringify(usersId);
      	window.location.href = '/users/delete/'+index
    	}
    	//Senão somente o usuário que passou o id é excluído
    	else{
	      	usersId = [];
	    	  usersId.push(id);
	    	  let index = JSON.stringify(usersId);
	        window.location.href = '/users/delete/'+index
	    }
    }
  </script>
  </div>

<%- include('partials/admin/footer.ejs') %> 