#content{
	margin-left: 15%;
	width: 100%;
    
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
 /*ID's para a responsividade da página home*/
    #imgsize {

        width: 0%;

    }
    #txtsize {

        font-size: 1.1em;
        text-align: center;
        margin-left: 15%;
        width: 100%;

    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,800&display=swap');
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/


body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-image: linear-gradient(#a3a2a2,#ffffff);
    background-repeat: repeat-x;
    background-position: center;
}

p {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

li {
    cursor: pointer;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #000000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}

#sidebar ul.components {
    padding: 20px;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    /*background: #6d7fcc;*/
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #6d7fcc;*/
}

/*ALTERAÇÕES GUILHERME*/

#margin-container-fluid{
    margin-bottom: 30px;
}

.margin2 {
    margin-bottom: 10%;
}

.btn-custom {
    margin: 5px;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
}

.btn-custom2 {
    margin: 5px;
	padding: 5px 6px 5px 10px;
	border-radius: 50px;
}


table{
    background-color: white;
}


#align1{
    align-content: center;
    background-color: none;
    margin-left: 15%;
    width: 100%;
}

#align2{
    align-content: center;
    background-color: none;
    margin-left: 15%;
    width: 50%;
}

#align3 {
    margin-left: 70%;
}

#align4 {
    margin-left: 65%;
}

#align5 {
    margin-top: 2%;
    margin-bottom: 2%;
}

#align6 {
    background-color: none;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30%;
    
}

#align7{
    margin-left: 30%;
}

#titles1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

#container-form-layerdetails {

    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    
}
