#content{
	margin:100px 50px 50px 50px;
	width: 100%;
    
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    
 /*ID's para a responsividade da página home*/
    #imgsize {
        
        width: 0%;

    }
    #txtsize {

        font-size: 1.1em;
        text-align: center;
        margin-left: 15%;
        width: 100%;

    }

}

/*IMPORTANDO FONTE MONTSERRAT*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,800&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background: url(../img/bg-1.png),
                url(../img/bg-2.png);
    background-repeat: repeat;
    background-position: center;
}

p {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}


#margin-container-fluid{
    margin-bottom: 30px;
}

.margin2 {
    margin-bottom: 10%;
}

/*ARREDONDAMENTO DE BOTÕES*/

.btn-custom {
    margin: 5px;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
}

.btn-custom2 {
    margin: 5px;
	padding: 5px 6px 5px 10px;
	border-radius: 50px;
}
/*FIM ARREDONDAMENTO DE BOTÕES*/

table{
    background-color: white;
}

/*ALINHAMENTOS*/

#align1{
    align-content: center;
    background-color: none;
    margin-left: 15%;
    width: 100%;
}

#align2{
    align-content: center;
    background-color: none;
    width: 50%;
}

#align3 {
    margin-left: 70%;
}

#align4 {
    margin-left: 65%;
}

#align5 {
    margin-top: 2%;
    margin-bottom: 2%;
}

#align6 {
    background-color: none;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30%;
    
}

#align7{
    margin-left: 30%;
}

#align8 {

    margin: 5px;
	padding: 5px 5px 5px 5px;
    width: 100%;
}

/*FIM ALINHAMENTOS*/

#titles1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

.container-form-webgente-admin {

    z-index: 10;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    
}

/*MENU DE NAVEGAÇÃO*/

.nav-item {
    cursor: pointer;
}

.navbar-style {
    padding: 15px 0px;
    background: #343a40f3;
}

.menu-link {
    color: white;
}

.menu-link:hover {
    color: #97bbf0;
}

.navbar-toggler {

    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: white;
    border-radius: 0.25rem;
    margin: 5px;
	padding: 5px 10px;
}

.divisor {

width: 1px;
background: white;
margin: 12px 15px;
}

/*FIM DE MENU DE NAVEGAÇÃO*/

@media (max-width: 768px) {

    .navbar-style {
        padding: 0px 5px;
    }

    #content {

        margin: 150px 50px 50px 50px;
	    width: 100%;

    }

}

.pointer {
    cursor: pointer;
}

/* CSS da área de configuração */

.geoserver-check p{
    font-size: 0.8em;
    margin: 2px;
}

/* CSS da área de reordenamento de camadas */

.sortable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.sortable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.layers-list {
    list-style-type: none
}

.list-title {
    width: 20%;
}

.layer-list-item {
    width: 30vw;
}

.groups-list {
    list-style-type: none
}

.group-list-item {

}

.draggable-group {

}

.draggable-layer {

}