/* Página inicial */

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    position: relative;
    z-index: -1;
}

.webgente-logo {
	margin-top: 10px;
	margin-left: 50%;
	-webkit-transform: translate(-50%, 0)
}

@media print {
	#map {
		height: 210mm;
		width: 297mm;
		border: 1px solid black;
	}
	.leaflet-control-container{
		visibility: hidden;
	}
	#navbar {
		visibility: hidden;
	}
	.webgente-legend-container {
		margin-bottom: 10px;
		margin-right: 10px;
		border: 1px solid #333;
	}
	.leaflet-control-scale-line {
		visibility: visible;
	}
}

/* Container do visualizador 360° */

#container-psv {
    width: 100%;
    height: 270px;
}

/* Container da legenda no mapa */

.webgente-legend-container {
	width: auto;
	height: auto;
	margin-bottom: 25px;
	margin-right: 10px;
	background-color: #FFFFFF;
	border-color: rgba(73, 73, 73, 0.377);
	border-style: solid;
	border-radius: 10px;
	max-height: 70vh;
	overflow-y: auto;
	pointer-events: all;
}

.webgente-legend-graphic-container {
	width: auto;
	height: auto;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.webgente-legend-layer-title {
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px;
}

/* Elementos do GetFeatureInfo */ 
.popup-inner-div {
    width: 270px;
}

.panel-body {
	overflow-y: auto;
	max-height: 200px;
}

.leaflet-popup-content-wrapper {
	max-height: 400px;
	overflow-y: auto;
}

table {
    width:250px;
    text-align:left;
    vertical-align:center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-family: Tahoma, Geneva, sans-serif;
}
td,th {
    border-bottom: 1px solid #ddd;
    padding: 2px;
}
tr:hover {
    background-color: #f5f5f5;
}
th {
    background-color: #f5f5f5;
}

.panoramic-visualizer {
    overflow:auto;
    width: 270px; /* Setar mesma width de .popup-inner-div */
    height:200px;
    border:none;
}

.link-table-collapse {
	color:black;
	font-weight: bold;
}

/* Fim dos Elementos do GetFeatureInfo */
.webgente-search-container{
	visibility: hidden;
	pointer-events: visibleFill;
	width: auto;
	height: auto;
	background-color: #FFFFFF;
	margin-top: 12px;
	margin-left: 60px;	
	max-height: 70vh; 
	padding: 3%;
	max-width: 50vh;
	overflow-y: auto;
	overflow-x: auto;
	border-color: rgba(73, 73, 73, 0.377);
	border-style: solid;
	border-radius: 10px;
}

.input-group {
	padding: 5px 5px 5px 0px;
}

.webgente-search-form:hover {
	background: rgb(216, 216, 216);
	transition: background-color 0.5s ease;
}

@media (max-width: 768px) {

	.webgente-search-container{
		visibility: hidden;
		pointer-events: visibleFill;
		width: 50%;
		height: auto;
		background-color: #FFFFFF;
		margin-top: 12px;
		margin-left: 60px;	
		max-height: 70vh; 
		padding: 5%;
		max-width: 50vh;
		overflow-y: auto;
		overflow-x: auto;
		border-color: rgba(73, 73, 73, 0.377);
		border-style: solid;
		border-radius: 10px;
	}	
}

.webgente-coordinates-container {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
	padding-right: 2px;
	padding-left: 2px;
	z-index: 1001;
	pointer-events: all;
}

.webgente-coordinates-panel {
	padding-bottom: 5px;
	padding-right: 2px;
}

.webgente-search-coordinates:hover {
	color:#107ea9;
	scale: 1.3;
	transition: all 0.2s ease;
	cursor: pointer;
}

.webgente-coordinate-input {
	width: 90px;
	font-size: 10px;
	padding: 2px;
	border-radius: 2px;
}

/* Alterações no CSS do Leaflet */

.leaflet-control-layers-expanded .leaflet-control-layers-list  {
	overflow-y: auto;
	overflow-x: clip;
	max-height: 80vh;
}

@media (max-width: 768px) {
	.leaflet-control-attribution {
		display: none;
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

	.leaflet-bar a.leaflet-disabled {
		background-color: #545b62;
        color: white;
		border-bottom: 1px solid #545b62;
	}

	.leaflet-bar a {
		background-color: black;
        color: white;
		border-bottom: 1px solid #545b62;
	}

	.leaflet-bar a:hover {
		background-color: rgb(17, 17, 17);
        color: white;
		border-bottom: 1px solid #545b62;
	}

	.leaflet-bar button, .leaflet-bar button:hover {
		background-color: black;
        color: white;
		border-bottom: 1px solid #545b62;
	}

	.leaflet-control-layers {
		background-color: black;
        color: white;
		border-bottom: 1px solid #545b62;
	}

	.webgente-coordinates-container {
		background-color: rgba(0, 0, 0, 0.42);
        color: white;
	}

	.leaflet-container .leaflet-control-attribution {
		background-color: rgba(0, 0, 0, 0.42);
        color: white;
	}

	.leaflet-container a {
		color: white;
		font-weight: 600;
	}

	.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
		border: 2px solid rgba(0,0,0,0.2);
	}

	.leaflet-control-scale-line {
		color: white;
		border: 2px solid rgba(0, 0, 0, 0);
		border-right-color: rgb(0, 0, 0);
		border-bottom-color: rgb(0, 0, 0);
		border-left-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.5);
		background: rgba(0, 0, 0, 0.5);
		background-color: rgba(0, 0, 0, 0.5);
	}

	.leaflet-popup-content-wrapper, .leaflet-popup-tip {
		background-color: black;
        color: white;
	}

	.link-table-collapse {
		color:rgb(255, 255, 255);
		font-weight: bold;
	}
	
	tr:hover {
		background-color: #272727;
	}

	th {
		background-color: #272727;
	}

	.webgente-legend-container { 
		background-color: black;
        color: white;
		border-bottom: 1px solid #545b62;
	} 

	/* .legend-image {
		background: gray;
	} */

	.leaflet-draw-toolbar a {
		color: white !important;
		background-image: url('https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet.svg');
		background-repeat: no-repeat;
	}
}

.webgente-search-fts-container{
	pointer-events: visibleFill;
	width: auto;
	height: auto;
	margin-top: 12px;
	margin-left: 60px;	
	padding: 1%;
}

.webgente-search-fts-list{
	overflow-y: auto;
	overflow-x: auto;
	max-height: 70vh; 
	max-width: 50vh;

}

.webgente-search-fts-result {
	background-color: rgb(255, 255, 255);
	border: 1px solid #343a40 !important;
	border-radius: 0 !important;
	
	
	
}
/* Estilo da div da tabela e barra de navegação
dos elementos selecionados */
.webgente-search-fts-table-div{
	background-color: rgb(255, 255, 255);
	pointer-events: visibleFill;
	margin-top: 100px;
	height: 70vh; 
	width: 60vh;
	min-width: 35vh;
	
}
/* Controla o tamanho da div do 
tabela de elementos selecionados */
.webgente-search-fts-height-resize{
	height: 50vh; 
	overflow-y: auto;
	margin-top: 5%;

}
/* Div da barra de navegação da tabela colapsada */
.webgente-search-fts-table-bar-div{
	pointer-events: visibleFill;
	margin-left: 350px;
	margin-bottom: 3px;
	height: 5vh;
	width: 30vh;
	background-color: rgba(255, 255, 255, 0.5);
	

}
