/* Configurações de dark mode devem ser realizadas em webgente-dark.css */ 

/* Página inicial */

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    position: relative;
    z-index: -1;
}

.webgente-logo {
	margin-top: 10px;
	margin-left: 50%;
	-webkit-transform: translate(-50%, 0)
}

.webgente-greeting-container {
	margin-left: 60px;
	margin-top: 13px;
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 5px;
	padding: 3px;
	visibility: hidden;
	height: 24px;
}

.user-greeting-name {
	font-weight: 600;
}

@media print {
	#map {
		height: 210mm;
		width: 297mm;
		border: 1px solid black;
	}
	.leaflet-control-container{
		visibility: hidden;
	}
	#navbar {
		visibility: hidden;
	}
	.webgente-legend-container {
		margin-bottom: 10px;
		margin-right: 10px;
		border: 1px solid #333;
	}
	.leaflet-control-scale-line {
		visibility: visible;
	}
}

/* Container do visualizador 360° */

#container-psv {
    width: 100%;
    height: 270px;
}

/* Container da legenda no mapa */

.webgente-legend-container {
	width: auto;
	height: auto;
	margin-bottom: 25px;
	margin-right: 10px;
	background-color: #FFFFFF;
	border-color: rgba(73, 73, 73, 0.377);
	border-style: solid;
	border-radius: 10px;
	max-height: 70vh;
	overflow-y: auto;
	pointer-events: all;
}

.webgente-legend-graphic-container {
	width: auto;
	height: auto;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.webgente-legend-layer-title {
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px;
}

/* Elementos do GetFeatureInfo */ 
.popup-inner-div {
    width: 270px;
}

.panel-body {
	overflow-y: auto;
	max-height: 200px;
}

.leaflet-popup-content-wrapper {
	max-height: 400px;
	overflow-y: auto;
}

table {
    width:250px;
    text-align:left;
    vertical-align:center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-family: Tahoma, Geneva, sans-serif;
}
td,th {
    border-bottom: 1px solid #ddd;
    padding: 2px;
}
tr:hover {
    background-color: #f5f5f5;
}
th {
    background-color: #f5f5f5;
}

.panoramic-visualizer {
    overflow:auto;
    width: 270px; /* Setar mesma width de .popup-inner-div */
    height:200px;
    border:none;
}

.link-table-collapse {
	color:black;
	font-weight: bold;
}

/* Fim dos Elementos do GetFeatureInfo */


.input-group {
	padding: 5px 5px 5px 0px;
}





.webgente-coordinates-container {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
	padding-right: 2px;
	padding-left: 2px;
	z-index: 1001;
	pointer-events: all;
}

.webgente-coordinates-panel {
	padding-bottom: 5px;
	padding-right: 2px;
}

.webgente-search-coordinates:hover {
	color:#107ea9;
	scale: 1.3;
	transition: all 0.2s ease;
	cursor: pointer;
}

.webgente-coordinate-input {
	width: 90px;
	font-size: 10px;
	padding: 2px;
	border-radius: 2px;
}

/* Alterações no CSS do Leaflet */

.leaflet-control-layers-expanded .leaflet-control-layers-list  {
	overflow-y: auto;
	overflow-x: clip;
	max-height: 80vh;
}

@media (max-width: 768px) {
	.leaflet-control-attribution {
		display: none;
	}
}


