<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebGENTE - Configurações</title>

    <link rel="icon" href="img/favicon.ico">

    <!--Versão do JQuery que permite usar a função load()-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="/js/bootstrap/bootstrap.js" ></script>
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css">

    <!--Icones-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> 

    <script src="/js/bootstrap-table/bootstrap-table.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="/css/administracao.css">
    

</head>

<body>

<div class="wrapper">
    
    <%- include('menu.ejs') %> 

    <div id="content">
    