<header> <!--INÍCIO DO CABEÇALHO-->
<nav class="navbar navbar-expand-lg navbar-ligth fixed-top navbar-style">
    <div class="container">

            <a onclick="location.href='/';" class="navbar-brand pointer">
                <img src="/img/decor-dez.svg" width="250" id="imgsize">
            </a>

            
            <a onclick="location.href='/';" class="navbar-brand pointer">
                <img src="/img/decor-onze.svg" id="align8" class="d-sm-block d-md-none">
            </a>
            



            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-admin">
                <i class="fas fa-bars text-white"></i>
            </button>

            <div class="collapse navbar-collapse" id="nav-admin">

                <ul class="navbar-nav ml-auto">
                
                    <li class="nav-item">
                        <a onclick="location.href='/admin';" class="nav-link menu-link">Início</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="location.href='/layers';" class="nav-link menu-link">Camadas</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="location.href='/users';" class="nav-link menu-link">Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="location.href='/config';" class="nav-link menu-link">Configurações</a>
                    </li>
                    <li class="nav-item"> 
                        <a  onclick="location.href='/help';" class="nav-link menu-link">Ajuda</a>
                    </li>
                    <li class="nav-item divisor"></li>
                    
                    <li class="nav-item">
                        <a onclick="location.href='/';" class="nav-link menu-link">Acessar o WebGENTE</a>
                    </li>

                    <li class="nav-item divisor"></li>

                    <li class="nav-item">
                        <a href="/logout" class="nav-link menu-link">Logout</a>
                    </li>
                </ul>

            </div>
            
    </div>

</nav>
</header><!--FINAL DO CABEÇALHO-->

    




