<div id="usuarios">
  <div class="row">
    <div class="col-12">
    	<table data-toggle="table" data-search="true" data-pagination="true"> 
          <thead>
            <tr>
              <th data-checkbox="true"></th>
              <th>Nome do usuário</th>
              <th>Email</th>
              <th>Data de nascimento</th>
              <th>Grupo</th>
              <th data-formatter='TableActions'>Opções</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < users.length; i++) { %>
            <tr>
              <td></td>
              <td> <%= users[i].userName %> </td>
              <td> <%= users[i].email %> </td>
              <td> <%= users[i].birthDate %> </td>
              <td> <%= users[i].group %> </td>
              <td></td>
            </tr>
            <% } %>
          </tbody>
        </table>
    </div>
  </div>
<!--Icones-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!--Bootstrap-table-->
<script src="/js/bootstrap-table/bootstrap-table.js" ></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-table/bootstrap-table.css">

<script>
  function TableActions(value, row, index) {
    return ['<button class="btn btn-dark" onclick="remove()"> <i class="fas fa-trash"></i></button>', ' ', '<button class="btn btn-dark" onclick="add()"> <i class="fas fa-plus"></i></button>'].join('');
  }
</script>
</div>